.site-header {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid var(--color-border)
}

