.home  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home .container {
    height: 500px;
}

.site-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.container h2 {
    text-align: center;
}

.container_blue {
 background-color: var(--color-primary);
 box-shadow: 0 0 10px black;
 color: var(--color-text);

}

