.presentation {
    position: relative; 
    width: 100%;        
    overflow: hidden;
}

.overlay-content {
    position: absolute;   /* поверх изображения */
    top: 0;               /* можно менять, чтобы располагать контент */
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;        /* центрируем контент */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.presentation > img {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 5px;
}

.presentation h1 {
    font-size: 50px;
}